adium-theme-ubuntu==0.3.4
beautifulsoup4==4.4.1
bs4==0.0.1
click==6.6
Django==1.9.7
ecdsa==0.13
Flask==0.11.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mysql-connector-python==2.0.4
mysql-utilities==1.6.1
numpy==1.11.1
paramiko==1.16.0
pexpect==4.0.1
psycopg2==2.6.1
ptyprocess==0.5
pycrypto==2.6.1
pygobject==3.20.0
pyodbc==3.0.7
pysqlite==2.7.0
six==1.10.0
unity-lens-photos==1.0
vboxapi==1.0
virtualenv==15.0.2
Werkzeug==0.11.10
wicd==1.7.4
